HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
Documento_de_Requisitos_API_Farmacia.docx
instrucoes-teste-api-orcamento-manipulado.txt
API_FLOW_DOCUMENTATION.md
IMPLEMENTATION_SUMMARY.md
QUICK_TEST_GUIDE.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/*.txt
/*.log

